html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
  }

body {
    display: flex;
    flex-direction: column;
}  

button {
    background-color: #3883f6;
    color: #e5e7eb;
    padding: 8px 32px;
    border-radius: 6px;
    border: none;
    font-weight: 700;
}

.content {
    width: 60%;
    margin: 0 auto;
}

.header-links {
    display: flex;
    font-size: 18px;
    list-style: none;
    padding: 0;
}

.header-links li {
    margin: 10px;
}

.header, .hero-header {
    color: #f9faf8;
}

.hero-header {
    font-size: 48px;
}

.header {
    padding: 10px 0;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-txt {
    font-size: 18px;
    color: #e5e7eb
}

.hero-content {
    display: flex;

}

.test {
   flex: 1;
}

.img {
    background-color: rgb(138, 130, 130);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}   


/* SECCTION ONE */

.one {
    background-color: #1f2937;
    height: 600px;
}